doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet', href='./css/style.css?ver=1.9')
    link(rel='stylesheet', href='./css/lib/alertify.min.css')
    link(rel='stylesheet', href='./css/lib/fonts.css')
    link(rel='icon', href='./image/favicon.png', sizes='16x16 32x32', type='image/png')
    block style
  body(class=page)
    //block left-bar
  div.game-wrapper
    div.header
      block header
    div.site-content
      block content
    //block right-bar
include account-modal
    script(src='./js/lib/socket-io.js')
    script(src='./js/lib/jquery-3.4.1.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    script(src='./js/lib/alertify.min.js')
    block scripts
