@font-face { font-family: OpenSans;
    src: url('/font/OpenSans-Regular.ttf'); }
html{
    background: black;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: OpenSans;
}
body{
    background-image: url("/image/background.jpg");
    perspective: 500px;
    height: 100vh;
    overflow: hidden;
    /*background: radial-gradient(rgba(255, 127, 80, 0.3), #1b0032);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    max-width: 100%;
    height: 100vh;
}
.table-container{
    width: 100%;
    height: 100%;
}

.players-wrapper{
    width: 95%;
    margin: 0 auto;
    height: 100%;
    position: relative;
    padding: 10px;
    /*background: #037b2470;*/
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.single-player{
    width: 180px;
    display: flex;
    background: #00000045;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;

}
.single-player div{
    margin: 5px;
}
.player-info{
    width: 90px;
    text-align: center;
}
.player-info strong{
    color: white;
    display: block;
    font-size: 14px;
}
.player-info img{
    border-radius: 50%;
    border: 3px solid white;
    width: 50px;
    box-sizing: border-box;
    margin-top: 10px;
}
.back-image-wrapper{
    width: 80px;
}
.back-image{
    border-radius: 5px;
    width: 65px;
    height: 90px;

}

.top{
    margin:  0 auto;
}

.left{
    position: absolute;
    left: 10px;
    top: 40%;
}
.right{
    position: absolute;
    right: 10px;
    top: 40%;
}

.bottom{
    position: absolute;
    bottom: 35px;
    margin: 0 auto;
    width: unset;
}

.self-container{
    height: 300px;
    position: absolute;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    /*background: red;*/

}
.action-container{
    text-align: center;
}
.action-container button{
    padding: 12px 19px;
    border-radius: 30px;
    font-size: 16px;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    border: 4px solid;
    cursor: pointer;
    outline: none;
}
.action-container button:focus{
    outline: none;
}
.pass{
    background: #ff7700;

}
.hit{
    background: #0094ff;

}

.cards-handle-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards-handle-container .cards{
    display: inline-block;
    margin-top: 50px;
}

.arrange-container {
    position: absolute;
    bottom: 80px;
    right: 15px;
}
.arrange{
    cursor: pointer;
    outline: none;
    background: #e94a41;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    border: 4px solid;
    font-size: 14px;
    font-weight: bold;
}

.cards .single-card:first-child{
    margin-left: 0;
}

.single-card{
    width: 100px;
    display: inline-block;
    margin-left: -65px;
    float: left;
}
.single-card img{
    width: 120px;
    cursor: pointer;
}

.picking{
    margin-top: -40px;
}

.ready-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    /*background: #000000de;*/
    z-index: 1;
}
.ready{
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    width: 130px;
    background: #46da81;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 40px;
    border: 5px solid;
    outline: none;
    cursor: pointer;
}

#username{
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 160px;
    right: 0;
    height: 40px;
    margin: auto;
    width: 200px;
    font-size: 18px;
    outline: none;
    font-weight: 100;
    border-radius: 7px;
    box-shadow: none;
    border: none;
}

.ready.start{
    position: relative;
    margin: unset;
    background: #00b7ff;
}

.start-game{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    z-index: 10;
    width: 130px;
    height: 100px;

}

.hidden{
    visibility: hidden;
}

.played-area-container{
    padding-top: 80px;
    box-sizing: border-box;
    width: 500px;
    height: 360px;
    position: absolute;
    left: 0;
    right: -30px;
    top: -40px;
    bottom: 0;
    margin: auto;
}
.played-area-container img{
    width: 65px;
    margin-top: 3px;
    margin-left: -30px;
}

.last-combo-container{
    display: inline-block;
}

.turn-active{
    border: 3px solid yellow;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.opacity-03{
    opacity: 0.3;
}

.last-combo-container{
    padding: 5px;
    margin-top: -80px;
}

.last-combo-highlight{
    background: #00e4ff;
    border-radius: 5px;
}

.last-combo-container img:first-child {
    margin-left: 0;
}

.ajs-message{
    color: white;
    font-size: 14px;
}

.display-none{
    display: none !important;
}

.room-area{
    width: 50%;
    height: 70vh;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;
}

.room-area button{
    left: 46%;
    top: 42px;
    height: 70px;
    width: 130px;
    background: #16e40d;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 40px;
    border: 5px solid;
    outline: none;
    cursor: pointer;
    margin: unset;
    position: fixed;
}

.room-name{
    padding: 1px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;

}
.count-player{
    position: absolute;
    top: 20px;
    right: 20px;

}

#out{
    padding: 5px;
    border-radius: 18px;
    color: white;
    background: #00000082;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    z-index: 100;
}

/*.vfx{*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    pointer-events: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*.smoke:nth-child(1) {*/
/*    opacity: 0.4;*/
/*    width: 75%;*/
/*    height: auto;*/
/*    animation: spin 60s infinite linear;*/
/*}*/
/*.smoke:nth-child(2) {*/
/*    opacity: 0.25;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    animation: spin 120s infinite linear;*/
/*    animation-delay: -45s;*/
/*    animation-direction: reverse;*/
/*}*/
/*.smoke {*/
/*    position: absolute;*/
/*}*/

@keyframes spin {
    0% {
        transform: scale(0.8) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }

    100% {
        transform: scale(0.8) rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        transform: scale(0.8) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }

    100% {
        transform: scale(0.8) rotate(360deg);
    }
}

